body {
  font-family: 'Barlow', sans-serif;
  color: #47596b;
  width: 1600px;
}

.container {
  margin: auto;
  width: 1500px;
}

.profile {
  height: 300px;
  width: 300px;
  margin: 100px 50px 0px 0px;
  float: left;
  clear: left;
}

.contact {
  font-size: 1em;
  display: inline-block;
  margin: 0px 5px;
  letter-spacing: 1px;
}

.print {
  font-size: 1em;
  display: inline-block;
  margin: 0px 5px;
  letter-spacing: 1px;
}

.details {
  width: 330px;
  text-align: left;
  display: inline-block;
}

.details p {
  background-color: #dff0ff;
  padding: 5px 8px;
  font-weight: 700;
}

.hobbycontainer {
  width: 1100px;
  text-align: center;
  margin: auto;
}

.interest {
  font-size: 25px;
  background-color: #e2e2e2;
  border-radius: 60px;
  padding: 10px;
  margin-left: 10px;
  display: inline-block;
  opacity: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.contactdetails {
  font-size: 1.25em;
  display: inline-block;
  background-color: #e2e2e2;
  border-radius: 30px;
  padding: 10px;
  margin: 0px 5px;
  width: 1em;
  text-align: center;
  margin: 2.5px 5px;
}

h1 {
  font-weight: 700;
  margin: 0px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-color: #dff0ff;
  padding: 5px;
  text-align: center;
  font-size: 1.6em;
}

.name {
  font-weight: 700;
  font-size: 4em;
  margin-bottom: 15px;
  margin-top: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #dff0ff;
  padding: 5px 10px;
}

.fa-camera:hover {
  opacity: 0.7;
  background-color: #dff0ff;
}

.fa-gamepad:hover {
  opacity: 0.7;
  background-color: #dff0ff;
}

.fa-palette:hover {
  opacity: 0.7;
  background-color: #dff0ff;
}

.fa-plane:hover {
  opacity: 0.7;
  background-color: #dff0ff;
}

.fa-cookie-bite:hover {
  opacity: 0.7;
  background-color: #dff0ff;
}

.contactinfo {
  /*width: 750px;*/
/*  float: right;
  clear: right;*/
  margin: auto;
  text-align: center;
  margin-bottom: 15px;
}

hr {
  height: 10px;
  border: none;
  background-color: #e2e2e2;
  margin-top: 15px;
  width: 100%;
}

.employment hr {
  height: 5px;
  background-color: #e2e2e2;
  margin-top: 3px;
}

.project hr {
  height: 5px;
  background-color: #e2e2e2;
  margin-top: 0px;
}

h5 {
  font-size: 1.15em;
  margin: 0px;
  letter-spacing: 1.25px;
}

.ubc {
  display: inline;
  float: right;
  margin-right: 50px;
  margin-bottom: 10px;
}

.ubc p {
  font-size: 1.1em;
  margin: 2.5px 0px;
}

.ubc i {
  margin: 2.5px 10px 2.5px 20px;
  width: 25px;
  text-align: center;
  background-color: #dff0ff;
  border-radius: 25px;
  padding: 8px 4px;
}

.lhl {
  display: inline;
  float: left;
  width: 1000px;
}

.lhl p {
  font-size: 1.15em;
  margin: 2.5px 0px;
}

.lhl i {
  margin: 2.5px 10px 2.5px 50px;
  width: 25px;
  text-align: center;
  background-color: #dff0ff;
  border-radius: 25px;
  padding: 8px 4px;
}

.lhl span {
  width: 650px;
  float: right;
  padding-top: 35px;
  line-height: 1.5em;
  font-size: 1.15em;
}

.lhldetails {
  width: 304px;
  float: left;
}

.summary {
  width: 950px;
  display: inline-block;
  font-size: 1.1em;
  text-align: left;
  margin-left: 50px;
  line-height: 1.5em;
}

.summary h5 {
  background-color: #e2e2e2;
  text-align: center;
  width: 950px;
  padding: 5px 0px;
}

.summary p {
  margin: 10px 0px;
  padding: 0px 25px;
}

.education {
  width: 1500px;
  display: inline-block;
  margin-bottom: 15px;
}

.education h5 {
  margin-bottom: 10px;
  margin-left: 98px;
}

.ubc h5 {
  margin-left: 50px;
}

.skills {
  text-align: left;
  background-color: white;
}

.skills h1 {
  text-align: center;
}

.skills h5 {
  margin-left: 140px;
  font-size: 1.25em;
}

.skills p {
  font-size: 1em;
  margin: 0px 0px 0px 140px;
  line-height: 1.5em;
}

.empdetail {
  width: 300px;
  display: inline-block;
  float: left;
  font-size: 1.1em;
  font-weight: 700;
  margin: 0px 50px;
}

.empdetail p {
  margin: 5px 0px;
}

.empdetail i {
  margin: 2.5px 10px 2.5px 0px;
  width: 25px;
  text-align: center;
  background-color: #dff0ff;
  border-radius: 25px;
  padding: 8px 4px;
}

.employment h5 {
  margin-left: 50px;
  font-size: 1.25em;
  margin-top: 5px;
}

.description {
  font-size: 1.1em;
  width: 1050px;
  display: inline-block;
}

.leftalign {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 5px 5px 5px 50px;
  float: left;
  clear: left;
}

.leftalign:hover {
  opacity: 0.7;
}

.rightalign {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 5px 50px 0px 5px;
  float: right;
  clear: right;
}

.rightalign:hover {
  opacity: 0.7;
}

.projdescriptionright {
  font-size: 1.1em;
  width: 1225px;
  display: inline-block;
  line-height: 1.5em;
  padding: 0px 0px 0px 50px;
  min-height: 135px;
}

.projdescriptionleft {
  font-size: 1.1em;
  width: 1225px;
  display: inline-block;
  line-height: 1.5em;
  padding: 0px 50px 0px 50px;
  min-height: 135px;
}

.otherprojdescription {
  font-size: 1em;
  display: inline-block;
  line-height: 1.5em;
  padding: 0px 50px 0px 50px;
  min-height: 135px;
}

li {
  margin: 5px 0px;
}

.project h5 {
  margin-bottom: 5px;
}

a:link {
  text-decoration: none;
  color: #47596b;
}

a:visited {
  text-decoration: none;
  color: #47596b;
}

a:hover {
  opacity: 0.7;
}

.print:hover {
  opacity: 0.7;
  cursor: pointer;
}

.projname h5 {
  text-align: left;
  width: 942px;
  float: left;
  margin: 0px 0px 5px 0px;
}

.otherprojname {
  width: 45%;
  float: left;
  margin-right: 25px;
  margin-top: 10px;
}

.otherprojname p {
  text-align: right;
}

.otherprojname h5 {
  width: 100%;
  text-align: right;
  font-size: 2em;
  float: left;
}

.otherproj {
  width: 75px;
  height: 75px;
  display: inline-block;
  margin: 10px 25px;
}

.projname p {
  text-align: right;
  width: 282px;
  float: right;
  margin: 0px 0px 5px 0px;
  font-style: italic;
}
