body {
  font-family: 'Barlow', sans-serif;
  color: #47596b;
}

.container {
  margin: auto;
  width: 1100px;
}

.profile {
  height: 300px;
  width: 300px;
  margin: 60px 50px 0px 0px;
  float: left;
  clear: left;
}

.contact {
  font-size: 1.25em;
  display: inline-block;
  margin: 0px 5px;
}

.details {
  width: 300px;
  text-align: left;
  display: inline-block;
}

.details p {
  background-color: #dff0ff;
  padding: 5px 8px;
  font-weight: 700;
}

.hobbycontainer {
  width: 550px;
  text-align: center;
  display: inline-block;
  float: right;
  margin-bottom: 50px;
}

.fa-camera {
  font-size: 35px;
  background-color: #e2e2e2;
  border-radius: 60px;
  padding: 15px;
  margin-right: 5px;
  display: inline-block;
  opacity: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.fa-gamepad {
  font-size: 35px;
  background-color: #e2e2e2;
  border-radius: 60px;
  padding: 15px 17px 15px 13px;
  margin: 0px 5px;
  display: inline-block;
  opacity: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.fa-palette {
  font-size: 35px;
  background-color: #e2e2e2;
  border-radius: 60px;
  padding: 15px;
  margin: 0px 5px;
  display: inline-block;
  opacity: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.fa-plane {
  font-size: 35px;
  background-color: #e2e2e2;
  border-radius: 60px;
  padding: 15px;
  margin: 0px 5px;
  display: inline-block;
  opacity: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.fa-cookie-bite {
  font-size: 35px;
  background-color: #e2e2e2;
  border-radius: 60px;
  padding: 15px;
  margin-left: 5px;
  display: inline-block;
  opacity: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.fa-envelope {
  font-size: 1.25em;
  display: inline-block;
  background-color: #e2e2e2;
  border-radius: 30px;
  padding: 10px;
  margin: 0px 5px;
  width: 1em;
  text-align: center;
  margin: 2.5px 5px;
}

.fa-mobile-alt {
  font-size: 1.25em;
  display: inline-block;
  background-color: #e2e2e2;
  border-radius: 30px;
  padding: 10px;
  margin: 0px 5px;
  width: 1em;
  text-align: center;
  margin: 2.5px 5px;
}

.fa-github {
  font-size: 1.25em;
  display: inline-block;
  background-color: #e2e2e2;
  border-radius: 30px;
  padding: 10px;
  margin: 0px 5px;
  width: 1em;
  text-align: center;
  margin: 2.5px 5px;
}

h1 {
  font-weight: 700;
  margin: 0px;
  text-transform: uppercase;
  letter-spacing: 1.75px;
  background-color: #dff0ff;
  padding: 5px;
  text-align: center;
}

.name {
  font-weight: 700;
  font-size: 4.5em;
  margin-bottom: 15px;
  margin-top: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #dff0ff;
  padding: 5px 10px;
}

.fa-camera:hover {
  opacity: 0.7;
  background-color: #dff0ff;
}

.fa-gamepad:hover {
  opacity: 0.7;
  background-color: #dff0ff;
}

.fa-palette:hover {
  opacity: 0.7;
  background-color: #dff0ff;
}

.fa-plane:hover {
  opacity: 0.7;
  background-color: #dff0ff;
}

.fa-cookie-bite:hover {
  opacity: 0.7;
  background-color: #dff0ff;
}

.contactinfo {
  width: 750px;
  float: right;
  clear: right;
  text-align: center;
  margin-bottom: 15px;
}

hr {
  height: 10px;
  border: none;
  background-color: #e2e2e2;
  margin-top: 15px;
  width: 100%;
}

.employment hr {
  height: 5px;
  background-color: #e2e2e2;
  margin-top: 0px;
}

.project hr {
  height: 5px;
  background-color: #e2e2e2;
}

h5 {
  font-size: 1.5em;
  margin: 0px;
  letter-spacing: 1.25px;
}

.ubc p {
  font-size: 1.25em;
  margin: 2.5px 0px;
}

.ubc i {
  margin: 2.5px 10px 2.5px 0px;
  width: 30px;
  text-align: center;
  background-color: #dff0ff;
  border-radius: 25px;
  padding: 8px 4px;
}

.lhl p {
  font-size: 1.25em;
  margin: 2.5px 0px;
}

.lhl i {
  margin: 2.5px 10px 2.5px 0px;
  width: 30px;
  text-align: center;
  background-color: #dff0ff;
  border-radius: 25px;
  padding: 8px 4px;
}

.summary {
  width: 400px;
  display: inline-block;
  font-size: 1.25em;
  text-align: left;
  margin-left: 25px;
}

.sumheader {
  text-align: right;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 25px;
  font-size: 3em;
  background-color: white;
  padding: 0px;
}

.education {
  width: 476px;
  display: inline-block;
  float: left;
}

.education h5 {
  margin-bottom: 20px;
}

.skills {
  text-align: left;
}

.skills h1 {
  text-align: center;
}

.skills h5 {
  margin: 0px 40px;
}

.skills p {
  font-size: 1.25em;
  margin: 12px 30px 12px 45px;
  line-height: 1.5em;
}

.empdetail {
  width: 300px;
  display: inline-block;
  float: left;
  font-size: 1.25em;
  font-weight: 700;
}

.empdetail i {
  margin: 2.5px 10px 2.5px 0px;
  width: 25px;
  text-align: center;
  background-color: #dff0ff;
  border-radius: 25px;
  padding: 8px 4px;
}

.description {
  font-size: 1.25em;
  margin: 2.5px 0px;
  width: 750px;
  display: inline-block;
}

.borker {
  height: 200px;
  width: 200px;
  display: inline-block;
  margin: 0px 50px 15px 10px;
  float: right;
  clear: right;
}

.borker:hover {
  opacity: 0.7;
}

.choochoose {
  height: 200px;
  width: 200px;
  display: inline-block;
  margin: 30px 40px 0px 50px;
  float: left;
  clear: left;
}

.choochoose:hover {
  opacity: 0.7;
}

.projdescription {
  font-size: 1.25em;
  width: 800px;
  display: inline-block;
  line-height: 1.5em;
}

.employment h5 {
  margin-top: 15px;
}

li {
  margin: 5px 0px;
}

.project h5 {
  margin-bottom: 5px;
}